
.table th:first-child {
  border-top-left-radius: 0.5rem;
  text-align: start;
}

.table th {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 500;
}
.border-neutral {
  --tw-border-opacity: 1;
  border-color: rgb(235 236 239 / var(--tw-border-opacity));
}
.border-r {
  border-right-width: 1px;
  border-left-width: 1px;
}

.loading-indicator,
.error-message {
  text-align: center;
  margin: 20px 0;
  font-size: 1.2rem;
  color: #333;
}

.error-message {
  color: red;
  font-weight: bold;
}
